body {
    font-family: Arial, sans-serif; 
    text-align: center;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 20px;
}

header {
    margin-bottom: 40px;
}

#logo {
    width: 450px;
    margin-bottom: 20px;
    height: 200px;
}

.social-icons {
    list-style: none; 
    margin: 50px;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 15px;
}

.social-icons img {
    width: 32px;
    height: 32px; 
    border-radius: 50%; 
}

main {
    margin-bottom: 30px;
}

footer {
    font-size: 1em;
    color: #666; 
}

.maintenance-icon {
    width: 250px;
    height: 250px;
    margin: 20px auto 80px; 
}


